<section class="back-end">
  <div class="back-end__center">
    <div class="back-end__logo">
      <img src="./img/brand.png" alt="">
      <p>Kandidaatvinden Inloggen</p>
    </div>

    <div class="back-end__buttons">
        <button value="intermediate" class="buttons" type="button" name="button" type="submit">Intermediair</button>
        <button value="jan" class="buttons" type="button" name="button" type="submit">Jan</button>
     </div>
  </div>
</section>



<main class="main">
  <section class="small-chat">

  </section>
  <section class="big-chat">
  </section>
</main>

<section class="job-selection">
  <label>
    <img class="minilogo" src="./img/chatlogo.png" alt="">
  </label>

  <section class="long-menu">
    <header class="long-menu__header">
      <h1>Zonder te solliciteren een toffe nieuwe job?</h1>
    </header>
    <div class="long-menu__companys">
      <button>Deloite<small>Noord holland</small></button>
      <button>KPN<small>Noord holland</small></button>
      <button>ING<small>Noord holland</small></button>
      <button>ASML<small>Noord holland</small></button>
    </div>
    <footer>
      <button class="start-chat" type="button" name="button">
        Ik wil hierover praten.
      </button>
    </footer>
  </section>
</section>
